.header {

    &__fixed{
        position: sticky;
        top: -28px;
        background: #fffcf4;
        z-index: 1;
    }
    &__body {
        display: flex;
        align-items: center;
        padding: 36px 0 8px;
    }
}

.nav {
    margin-left: auto;
    &__list {
        display: flex;
    }

    &__link {
        padding: 8px 12px;
        font-size: 1.6rem;
position: relative;
        color: #5f5b53;
    }

    &__link:hover,
    &__item.active &__link {
        text-shadow: 1px 0 0 currentColor;
        font-weight: 600;
    }

    &__item.active &__link:after{
        content: "";
        left: 13px;
        bottom: 6px;
        display: block;
        position: absolute;
        width: 12px;height: 2px;
        background: #171100;
        border-radius: 1px;
    } 
}

.act{
    margin-left: 49px;
}